MYSQL_USER=your_mysql_user
MYSQL_USER_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_database_name
MYSQL_HOST=your_db_host
MYSQL_PORT=3306
CELERY_BROKER_URL=redis://user:password@your_redis_host:port